<div class="decision-characteristics">
    <div class="char-header scroll-wrapper-header">
        <div class="col-md-6 col-sm-6">
            <h4>Characteristics</h4>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href class="btn add-createria-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add characteristic</a>
        </div>
    </div>
    <div class="scroll-wrapper">
        <div class="app-loader-small" ng-show="vm.characteristicSpinner">LOADING...</div>
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" ng-repeat="group in vm.characteristicGroups track by $index" is-open="group.isOpen">
                <uib-accordion-heading>
                    {{group.name}}
                    <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                </uib-accordion-heading>
                <div class="row criteria-item" ng-repeat="characteristic in group.characteristics track by $index">
                    <div class="col-md-6">{{characteristic.name}}</div>
                    <div class="col-md-6">
                        <ng-include src="vm.getControl(characteristic)"></ng-include>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
