bower_components
node_modules
*.swp
build/
.DS_Store
*.orig
stage/
prod/
dev/
config_local.json
unused/
dist/
vendors/
ui/src/assets/css/
api/java-int-test/cureForward.error.logFile_IS_UNDEFINED
*.fuse*
templates.js
cfPortalTemplates.js
npm-debug.log
/ui/src/*.html
!/ui/src/*.tpl.html
api/java/cureForward.error.logFile_IS_UNDEFINED
.idea
.idea/jsLibraryMappings.xml
.vscode/
report/
.tmp/