bower_components
node_modules
*.swp
build/
.DS_Store
*.orig
config_local.json
unused/
dist/
vendors/
ui/src/assets/css/
*.fuse*
templates.js
cfPortalTemplates.js
npm-debug.log
.idea
.idea/jsLibraryMappings.xml
.vscode/
report/
.tmp/
temp/
source/index.html
release
source/styles/styles.css
styles.css
