<div class="decision-criteria">
    <div class="criteria-header scroll-wrapper-header">
        <div class="col-md-6 col-sm-6">
            <h4>Criteria</h4>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href class="btn add-createria-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add criterion</a>
        </div>
    </div>
    <div class="scroll-wrapper">
        <div class="app-loader-small" ng-show="vm.criteriaSpinner"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default criteria-panel" ng-repeat="group in vm.criteriaGroups track by $index" is-open="group.isOpen">
                <uib-accordion-heading>
                    {{group.name}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen}"></i>
                </uib-accordion-heading>
                <div class="criteria-item" ng-repeat="criterion in group.criteria track by $index" ng-click="vm.selectCriterion(criterion)" ng-class="{'selected' : criterion.isSelected}">
                    <div class="criteria-item-left">
                        {{criterion.name}}

                        <rating-star value="4.3"></rating-star>
                    </div>
                    <div class="criteria-item-right">
<!--                         <div class="text-right">
                            <span>icon1</span>
                            <span>icon2</span>
                        </div> -->
                        <button class="btn btn-default pull-right" ng-click="vm.editCriteriaCoefficient($event, criterion)">
                            <criteria-coefficient-indicator coefficient="criterion.coefficient"></criteria-coefficient-indicator>
                        </button>
                    </div>
<!--                     <div class="criteria-item-footer text-right">

                    </div> -->
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
