<div class="decision matrix">
    <div class="row top-panel">
        <div class="col-md-4 col-sm-4">
            <h4 class="app-header-sub-title">
                {{vm.decision.name}} Fake title: Comparison of antivirus software for Windows Matrix
            </h4>
        </div>
        <div class="col-md-5 col-sm-5">
        </div>
        <div class="col-md-3 col-sm-3">
            <input class="form-control search-input" type="text" />
            <span class="glyphicon glyphicon-search search-input-icon"></span>
        </div>
    </div>
    <div class="main-panel matrix-table js-matrix-table">
        <div id="panel" class="app-panel">
            <div class="decisions-header scroll-wrapper-header">
                <!-- Header -->
                <div class="matrix-table-header">
                    <div class="matrix-table-row">
                        <!-- TODO: Make Sticky -->
                        <div class="matrix-table-col matrix-table-group">
                            <div class="matrix-table-group-title">
                                Empty
                            </div>
                            <div class="matrix-table-row">
                                <div class="matrix-table-col">
                                    <div class="matrix-table-title app-sorter-wrapper matrix-content-name">Name
                                        <div class="app-sorter">
                                            <span class="app-sorter-top glyphicon glyphicon-triangle-top"></span>
                                            <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Make Sticky -->
                        <!-- Criteria Header -->
                        <div class="matrix-table-col matrix-table-group" ng-repeat="group in vm.criteriaGroups track by $index" style="width: 1500px">
                            <div class="matrix-table-group-title">
                                {{group.name}}
                            </div>
                            <div class="matrix-table-row">
                                <div class="matrix-table-col" ng-repeat="criteria in group.criteria track by $index" style="width: 120px">
                                    <div class="matrix-table-title app-sorter-wrapper">{{criteria.name}}
                                        <div class="app-sorter">
                                            <span class="app-sorter-top glyphicon glyphicon-triangle-top"></span>
                                            <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Criteria Header -->
                        <!-- characteristic Header -->
                        <div class="matrix-table-col matrix-table-group" ng-repeat="group in vm.characteristicGroups track by $index"  style="width: 1200px">
                            <div class="matrix-table-group-title">
                                {{group.name}}
                            </div>
                            <div class="matrix-table-row">
                                <div class="matrix-table-col" ng-repeat="characteristic in group.characteristics track by $index">
                                    <div class="matrix-table-title app-sorter-wrapper">{{characteristic.name}}
                                        <div class="app-sorter">
                                            <span class="app-sorter-top glyphicon glyphicon-triangle-top"></span>
                                            <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End characteristic Header -->
                    </div>
                </div>
                <!-- End Header -->
            </div>
            <div class="scroll-wrapper">
                <!-- TODO: TEMP fix for future spinner -->
                <div ng-show="vm.decisionsSpinner" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
                <!-- <app-paginator></app-paginator> -->
                <!-- <app-list list="vm.decisionsList"></app-list> -->
                <!-- TODO: set width for all cols -->
                <!-- Content -->
                <div class="matrix-table-content">
                    <div class="matrix-table-item" ng-repeat="item in vm.decisionMatrixList.decisionMatrixs track by item.decision.decisionId">
                        <div class="matrix-table-row with-border">
                            <div class="matrix-table-col">
                                <div class="matrix-table-col-content matrix-content-name">{{item.decision.name}}</div>
                            </div>
                            <!-- Criteria Content -->
                            <div class="matrix-table-col"  style="width: 1500px">
                                <div class="matrix-table-col-content">
                                    <div class="matrix-table-row">
                                        <div class="matrix-table-col color-{{criteria.weight}}" ng-repeat="criteria in item.criteria track by $index" style="width: 120px">
                                            <!-- {{criteria.weight}} {{criteria.totalVotes}} -->
                                            <rating-star value="criterion.weight" total-votes="criterion.totalVotes" ng-show="true"></rating-star>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Criteria Content -->
                            <!-- Characteristics Content -->
                            <div class="matrix-table-col"  style="width: 1200px">
                                <div class="matrix-table-col-content">
                                    <div class="matrix-table-row">
                                        <div class="matrix-table-col" ng-repeat="characteristic in item.characteristics track by $index">
                                            {{characteristic.value}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Characteristics Content -->
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
</div>
