<breadcrumbs items="breadcrumbs"></breadcrumbs>
<div class="decision matrix">
    <div class="row top-panel">
        <div class="col-sm-6">
            <h4 class="app-header-sub-title">
                {{vm.decision.name}}
            </h4>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <div class="btn-group btn-group-sm btns-view">
                    <a ui-sref="decisions.single.list({id: vm.decisionId})" ui-sref-active="btn-primary" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> List</a>
                    <a ui-sref="decisions.single.matrix({id: vm.decisionId})" ui-sref-active="btn-primary" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Matrix</a>
                </div>
                <a href class="btn btn-primary btn-sm">Ask for Decision</a>
            </div>
        </div>
    </div>
    <div class="matrix-table-wrapper">
        <div ng-show="vm.decisionsSpinner" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
        <div id="matrix-table" class="main-panel matrix-table js-matrix-table">
            <div id="panel" class="app-panel matrix-table-panel">
                <!-- Header -->
                <div class="matrix-table-header">
                    <div class="matrix-table-row">
                        <!-- TODO: Make Sticky -->
                        <div class="matrix-table-col matrix-table-group-name">
                            <div class="matrix-table-group-title">
                                <!-- Empty Header -->
                            </div>
                            <div class="matrix-table-row">
                                <div class="matrix-table-col matrix-table-group" data-col-id="col-name">
                                    <div class="matrix-table-title-wrapper">
                                        <div class="matrix-table-title app-sorter-wrapper matrix-content-name">Name
                                        </div>
                                        <div class="app-sorter">
                                            <span class="app-sorter-top glyphicon glyphicon-triangle-top" ng-click="vm.orderByDecisionProperty('name', 'ASC')" ng-class="{'selected': vm.fo.sortByDecisionProperty.id === 'name' && vm.fo.sortByDecisionProperty.order === 'ASC'}"></span>
                                            <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom" ng-click="vm.orderByDecisionProperty('name', 'DESC')" ng-class="{'selected': vm.fo.sortByDecisionProperty.id === 'name' && vm.fo.sortByDecisionProperty.order === 'DESC'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Make Sticky -->
                        <!-- Criteria Header -->
                        <div id="matrix-table-scroll-group" class="scroll-group">
                            <div class="matrix-table-col matrix-table-group matrix-table-group-criteria" ng-repeat="group in vm.criteriaGroups track by $index">
                                <div class="matrix-table-group-title">
                                    {{group.name}}
                                </div>
                                <div class="matrix-table-row">
                                    <div class="matrix-table-col criteria-col" ng-repeat="criteria in group.criteria | orderBy:'criterionId'" data-col-id="criteria-{{criteria.criterionId}}" ng-click="vm.selectCriterion(criteria)" ng-class="{'selected' : criteria.isSelected}">
                                        <div class="matrix-table-title-wrapper">
                                            <div class="matrix-table-title app-sorter-wrapper">
                                                {{criteria.name}}
                                            </div>
                                            <div class="btn matrix-criteria-coefficient" ng-click="vm.editCriteriaCoefficient($event, criteria);">
                                                <criteria-coefficient-indicator coefficient="criteria.coefficient"></criteria-coefficient-indicator>
                                            </div>
                                            <div class="app-sorter">
                                                <span ng-click="vm.orderByCriteriaProperty('ASC', $event)" class="app-sorter-top glyphicon glyphicon-triangle-top" ng-class="{'selected': vm.fo.sortByCriteria.order === 'ASC'}"></span>
                                                <span ng-click="vm.orderByCriteriaProperty('DESC', $event)" class="app-sorter-bottom glyphicon glyphicon-triangle-bottom" ng-class="{'selected': vm.fo.sortByCriteria.order === 'DESC'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Criteria Header -->
                            <!-- characteristic Header -->
                            <div class="matrix-table-col matrix-table-group matrix-table-group-characteristics" ng-repeat="group in vm.characteristicGroups track by $index">
                                <div class="matrix-table-group-title">
                                    {{group.name}}
                                </div>
                                <div class="matrix-table-row">
                                    <div class="matrix-table-col" ng-repeat="characteristic in group.characteristics track by $index" data-col-id="characteristic-{{characteristic.characteristicId}}">
                                        <div class="matrix-table-title-wrapper">
                                            <div class="matrix-table-title app-sorter-wrapper">
                                                {{characteristic.name}}
                                                <div class="app-control app-sm-filter" content-id="characteristic.characteristicId" pop-over>
                                                    <i class="glyphicon glyphicon-filter"></i>
                                                </div>
                                            </div>
                                            <div class="app-sorter">
                                                <span ng-click="vm.orderByCharacteristicProperty(characteristic.characteristicId, 'ASC')" class="app-sorter-top glyphicon glyphicon-triangle-top" ng-class="{'selected': vm.fo.sortByCharacteristic.id === characteristic.characteristicId && vm.fo.sortByCharacteristic.order === 'ASC'}"></span>
                                                <span ng-click="vm.orderByCharacteristicProperty(characteristic.characteristicId, 'DESC')" class="app-sorter-bottom glyphicon glyphicon-triangle-bottom" ng-class="{'selected': vm.fo.sortByCharacteristic.id === characteristic.characteristicId && vm.fo.sortByCharacteristic.order === 'DESC'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End characteristic Header -->
                        </div>
                    </div>
                </div>
                <div class="matrix-table-body-wrapper">
                    <!-- End Header -->
                    <!-- Table Aside -->
                    <div id="matrix-table-aside" class="matrix-table-aside">
                        <div id="matrix-table-aside-content" class="matrix-table-aside-content">
                            <div class="matrix-table-item" ng-repeat="item in vm.decisionMatrixList track by item.decision.decisionId">
                                <div class="matrix-table-row" id="decision-name-row-{{item.decision.decisionId}}">
                                    <div class="matrix-table-col matrix-table-col-name" data-col-id="col-name">
                                        <div class="matrix-table-col-content matrix-content-name">
                                            {{item.decision.name}}
                                            <div class="text-right" ng-if="item.decision.description">

                                                <!-- Ui popover -->
                                                <a href class="link-secondary glyphicon glyphicon-question-sign" popover-title="{{item.decision.name}}" uib-popover-html="item.decision.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'"  tabindex="0"></a>
                                                <!-- End Ui popover -->

                                            </div>
                                            <div ng-show="item.decision.criteriaCompliancePercentage >= 0">
                                                <small>
                                                    Criteria compliance: <strong>{{item.decision.criteriaCompliancePercentage | number:0}}</strong>% |
                                                    <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{item.decision.totalVotes}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Table Aside -->
                    <!-- Table Body -->
                    <div id="matrix-table-body" class="matrix-table-body">
                        <!-- Table Content -->
                        <div id="matrix-table-content" class="matrix-table-content" ng-style="{'width':vm.tableWidth}">
                            <div class="matrix-table-item matrix-table-item-content" ng-repeat="item in vm.decisionMatrixList track by item.decision.decisionId">
                                <div class="matrix-table-row" id="decision-row-{{item.decision.decisionId}}">
                                    <!-- Criteria Content -->
                                    <div class="matrix-table-col matrix-criteria-group" ng-repeat="criteria_item in item.criteria | orderBy:'criterionId'" ng-click="vm.goToDiscussion(item.decision, criteria_item.criterionId)">
                                        <div class="matrix-table-col-content">
                                            <div ng-if="criteria_item.totalVotes">
                                                <rating-star class="text-left" value="criteria_item.weight" total-votes="criteria_item.totalVotes" ng-show="criteria_item.weight"></rating-star>
                                            </div>
                                            <div ng-if="!criteria_item.totalVotes">
                                                <div class="app-rating-votes">
                                                    <span><span class="glyphicon glyphicon-thumbs-up"></span>0</span>
                                                </div>
                                            </div>
                                            <div class="app-item-additional-wrapper">
                                                <div class="app-item-comments">
                                                    <span class="glyphicon glyphicon-comment"></span>0

                                                        <!-- Ui popover -->
                                                        <a href ng-if="criteria_item.description" class="link-secondary glyphicon glyphicon-question-sign" uib-popover-html="criteria_item.description" popover-placement="top" popover-append-to-body="true" popover-trigger="'outsideClick'"  tabindex="0"></a>
                                                        <!-- End Ui popover -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Criteria Content -->
                                    <!-- Characteristics Content -->
                                    <div class="matrix-table-col" ng-repeat="characteristic in item.characteristics track by $index" ng-click="vm.goToDiscussion(item.decision, characteristic.characteristicId)">
                                        <div class="matrix-table-col-content" data-characteristic-id="{{characteristic.characteristicId}}">
                                            {{characteristic.value}}
                                            <div class="app-item-additional-wrapper">
                                                <div class="app-item-comments">
                                                    <span class="glyphicon glyphicon-comment"></span>0

                                                    <!-- Ui popover -->
                                                    <a href ng-if="characteristic.description" class="link-secondary glyphicon glyphicon-question-sign" uib-popover-html="characteristic.description" popover-placement="top" popover-append-to-body="true" popover-trigger="'outsideClick'"  tabindex="0"></a>
                                                    <!-- End Ui popover -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Characteristics Content -->
                                </div>
                            </div>
                        </div>
                        <!-- End Table Content -->
                    </div>
                    <!-- End Table Body -->
                </div>
            </div>
        </div>
        <div class="martix-footer">
            <app-paginator></app-paginator>
        </div>
    </div>
</div>
<!-- Characteristics Filters -->
<div ng-repeat="group in vm.characteristicGroups track by $index">
    <div ng-repeat="characteristic in group.characteristics track by $index" data-pop-over-content-id="{{characteristic.characteristicId}}" class="hide app-pop-over-content">
        <!-- {{characteristic.valueType}} {{characteristic.visualMode}} -->
        <!--         <div class="form-group">
            <input type="text" class="form-control input-sm">
        </div> -->
        <!--     <div class="clearfix">
            <button class="btn-primary btn btn-sm pull-right">Save</button>
        </div> -->
        <ng-include src="vm.getControl(characteristic)"></ng-include>
    </div>
</div>
<!-- End Characteristics Filters -->
