.app-header {
    min-height: 60px;
    background-color: @header-background;
    color: @white-text;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .header-menu-btn {
        text-align: left;
    }
    .header-text {
        text-align: center;
    }
    .header-login {
        text-align: right;
    }
}

.isotope {
    padding: 0 10px;
    .isotope-item {
        height: 100px;
        cursor: pointer;
        margin-bottom: 10px;
        right: 10px;
        padding: 0 10px;
        border: 1px solid @criteria-items;
        border-radius: 3px;
        background-color: @white-text;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        -webkit-transition: border 0.2s ease-in-out;
        transition: border 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            border-bottom: 5px solid @basic-active;
        }
        &.selected {
            box-shadow: none;
            background-color: @activePanel;
            border: none;
            &:hover {
                border: none;
            }
        }
    }
}

.app-footer {
    min-height: 60px;
    background-color: @header-background;
    color: @white-text;
    padding: 10px;
}

.divider {
    width: 8px;
    margin: 0;
    height: 100%;
    background-color: @dark;
    float: left;
    top: 0;
    // override style
    left: auto !important;
    z-index: 111;
    cursor: ew-resize;
}

.decision-sorter {
    list-style: none;
    li {
        color: @default-text;
        display: inline-block;
        float: left;
        padding: 5px;
        border: 1px solid @criteria-items;
        border-right: none;
        margin: 4px 0;
        cursor: pointer;
        &:last-child {
            border-right: 1px solid @criteria-items;
        }
        &:hover {
            background-color: @basic;
            color: @white-text;
        }
        &.selected {
            background-color: @basic-active;
            color: @white-text;
        }
    }
}

.decision-characteristics {
    .decision-select,
    .decision-yearpicker {
        width: 150px;
    }
}

.app-pagination {
    margin: 0;
    .paginator,
    .counter {
        padding: 0 10px;
    }
}

.criteria-section {
    .criteria-panel {
        .panel-body {
            padding: 15px 25px;
        }
        .criteria-item {
            cursor: pointer;
            border: 1px solid @criteria-items;
            border-radius: 3px;
            background-color: @white-text;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
            -webkit-transition: border 0.2s ease-in-out;
            transition: border 0.2s ease-in-out;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                cursor: pointer;
                border-left: 5px solid @basic-active;
            }
            &.selected {
                box-shadow: none;
                background-color: @activePanel;
                border: none;
                &:hover {
                    border: none;
                }
            }
        }
    }
}

.criteria-coefficient-indicator {
    .criteria-coefficient-item {
        width: 15px;
        height: 2px;
        margin-top: 1px;
        border: 1px solid @coefficientDefault;
        &.lower {
            border-color: @coefficientLower;
        }
        &.low {
            border-color: @coefficientLow;
        }
        &.normal {
            border-color: @coefficientNormal;
        }
        &.high {
            border-color: @coefficientHigh;
        }
        &.important {
            border-color: @coefficientImportant;
        }
        &.significant {
            border-color: @coefficientSignificant;
        }
        &.critical {
            border-color: @coefficientCritical;
        }
    }
}

.modal-dialog {
    margin: 30vh auto;
    .criteria-coefficient-popup {
        padding: 0 30px 30px;
        .coefficient-title {
            border-bottom: 1px solid @dark;
        }
        .modal-drag-handler {
            background: @dark;
            height: 20px;
            &:hover {
                cursor: move;
            }
        }
    }
}
