// TODO: include less bootstrap and use only necessary components
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "mixins";
@import "variables";
@import "utils";
@import "controls";
@import "components/_index";
@import "home";
@import "helpers";
@import "discussions";

.content {
  background-color: @app-bg;
	min-height: calc(~"100vh - 100px"); //@footer-height + @header-height
  overflow: hidden;
}

body {
  font-family: @base-font;
}

.app-row-content-label {
  display: inline-block;
  min-width: 120px;
  color: @row-label-color;
}

.app-row-content {
  margin-bottom: 10px;
}


// Login
.app-user-info {
	float: left;
	margin: 15px 5px;
}