.btn {
  color: grey;
}

.grid1 {
  background: #c6ecf1;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #732145;
}

.grid-stack > .grid-stack-item {
  min-width: 100%;
  max-width: 100%;
}