.btn {
  color: green;
}

.search-input {
  float: right;
}

.app-header {
  min-height: 60px;
  background-color: #1d365d;
  color: #fff;
  padding: 10px;
}

.app-header .header-menu-btn {
  text-align: left;
}

.app-header .header-text {
  text-align: center;
}

.app-header .header-login {
  text-align: right;
}

.app-footer {
  min-height: 60px;
  background-color: #1d365d;
  color: #fff;
  padding: 10px;
}

.divider {
  width: 8px;
  height: 100vh;
  position: static !important;
  background-color: #808080;
  float: left;
  left: 25%;
  z-index: 111;
  cursor: col-resize;
}

.dicision .top-panel {
  min-height: 40px;
  background-color: rgba(128, 128, 128, 0.2);
}

.dicision .main-panel {
  position: relative;
}

.dicision .main-panel > div {
  padding: 0;
}

.dicision .custom-grid {
  background: #c6ecf1;
}

.dicision .grid-stack-item-content {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.7);
}

.dicision .grid-stack > .grid-stack-item {
  min-width: 100%;
  max-width: 100%;
}

.dicision .grid-stack > .grid-stack-item > .ui-resizable-se {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  cursor: ns-resize;
}

.content {
  min-height: calc(100vh - 120px);
}