// @header-background: #1d365d;
@header-background: #4784e8;
@white-text: #fff;
@default-text: #000;
@bg-dark: rgba(128, 128, 128, 0.2);
@dark: #808080;
@activePanel: #ccc;
@coefficientDefault: #c0c0c0;
@coefficientLower: #0d38fb;
@coefficientLow: #22c7fc;
@coefficientNormal: #3cfd2f;
@coefficientHigh: #fffd38;
@coefficientImportant: #fec52e;
@coefficientSignificant: #f58920;
@coefficientCritical: #fc0d1b;
@criteria-background: #fff;
@criteria-items: #c0c0c0;
@bg-light: #fff;
@basic: #245580;
@basic-active: #4784e8;
@basic-active-hover: darken(@basic-active, 5%);
@notSet: #ff0000;

@gray-mid: #7f8c8d;
@gray-light: #ebebeb;
@gray-light-extra: #f5f5f5;


@row-label-color: @dark;
@header-height: 50px;
@footer-height: 50px;
@footer-bg: @gray-light-extra;
@app-bg: #FFF;
@app-bg-light: #f3f5f6;
@rating-color: @dark;
@rating-color-active: @coefficientSignificant;

@border-radius: 2px;
@border-radius-modal: @border-radius;

@icon-color: @gray-mid;
@title-color: #333;
@base-font: "Segoe UI", "Helvetica Neue", Arial, sans-serif;

@z-index-pop-over: 100;
@z-index-popup: 1002;
@z-index-page-navbar: 1002;