@header-background: #1d365d;
@white-text: #fff;
@default-text: #000;
@bg-dark: rgba(128, 128, 128, 0.2);
@dark: #808080;
@coefficientDefault: #c0c0c0;
@coefficientLow: #a5f916;
@coefficientNormal: #ffdc00;
@coefficientImportant: #ffb900;
@coefficientSignificant: #fd7f04;
@coefficientCritical: #fd0404;
@coefficientCustom: #c901ff;
@criteria-background: #fff;
@criteria-items: #c0c0c0;
@bg-light: #fff;
@basic: #245580;
@basic-active: #226eb1;