.btn {
  -webkit-border-radius: @border-radius;
          border-radius: @border-radius;
}

.btn-sm,
.btn-group-sm > .btn {
  -webkit-border-radius: @border-radius;
          border-radius: @border-radius;
}