.btn {
  -webkit-border-radius: @border-radius;
          border-radius: @border-radius;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-sm,
.btn-group-sm > .btn {
  -webkit-border-radius: @border-radius;
          border-radius: @border-radius;
}

.btn-primary {
  background-color: @basic-active;
  border-color: @basic-active;
}

.pagination > li {
  // display: inline-block;
  // margin: 0 2px;
  & > a{
  -webkit-border-radius: @border-radius;
          border-radius: @border-radius;    
  }
}