.app-header {
    min-height: @header-height;
    height: @header-height;
    background-color: @header-background;
    color: @white-text;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    letter-spacing: 0.02em;
    a {
        color: @white-text;
    }
    .header-menu-btn {
        text-align: left;
    }
    .header-text {
        text-align: center;
    }
    .header-login {
        text-align: right;
    }
    .header-text {
        display: inline-block;
        margin-top: 15px;
    }
    .navbar-nav {
        & > li {
            & > a {
                &:hover {
                    color: #FFF;
                    background-color: @basic-active-hover;
                }
            }
        }
        .link {
            padding: 15px 15px;
            display: block;
            &:hover {
                background-color: @basic-active-hover;
            }
        }
    }

}

.app-header-sub-title {
    margin-left: 15px;
    font-size: 17px;
    font-weight: 600;
}

.navbar-brand {
    margin-right: 15px;
    min-width: 200px;
    a {
        .transition( color 0.3s ease);
        .app-light {
            color: @gray-light;
        }
        &:hover {
            color: @gray-light;
            .app-light {
                color: @gray-light;
            }
        }
    }
}

.app-panel-search {
    float: left;
    position: relative;

    margin: 5px 0;
    input {
        background-color: @basic-active-hover;
        border-color: @basic-active-hover;
        width: 150px;
        .transition(all 0.2s ease-in-out);
        color: #fff;
        &:focus {
            width: 250px;
            background-color: #fff;
            color: @title-color;
            & + .search-input-icon {
                color: @title-color;
            }
        }
    }
    .search-input-icon {
        left: 3px;
        color: #fff;
    }
}