.app-panel {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    padding-right: @resizer-width;
}


.matrix {
    &.decision .scroll-wrapper-header {
        min-height: 40px;
        height: auto;
    }
    .main-panel {
        height: calc(~"100vh - 140px");
    }
}

.matrix-table {

}

.matrix-table-item {
    display: block;
    border: 1px solid transparent;
    .transition(border 0.2s ease-in-out);
    &:hover {
        border-color: @basic-active;
    }
    &.selcted {
        border-color: @basic-active;
    }
}
.matrix-table-row {
    display: table;
    width: 100%;
    &.with-border {
        border-bottom: 1px solid @gray-light;
    }
    .matrix-table-col {
        border-right: 1px solid @gray-light;
        &:last-child {
            border-right: 0;
        }
    }
}
.matrix-table-col {
    display: table-cell;
    padding: 8px 8px;
}

.matrix-table-header {
    font-weight: 500;
    color: @title-color;
}

.matrix-table-group-title {
    font-size: 18px;
    // background-color: @gray-light;
    border-bottom: 1px solid @gray-light;
}

.matrix-table-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    font-weight: 600;
    font-size: 14px;
}