.app-panel {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    padding-right: @resizer-width;
}


.app-rating-votes {
    display: block;
    margin-right: 10px;
    margin: 0;
    padding: 0 4px;
    .glyphicon {
        display: inline-block;
        margin: 0 3px;
        color: @icon-color;
    }
}

.matrix-table-col-name {
    // position: fixed;
    background: #FFF;
}

.criteria-item .app-rating-votes-weight {
  display: none;
}

.matrix {
    &.decision {
        .app-rating-votes {
            display: inline-block;
            margin-right: 10px;
            margin: 0;
            border-right: 1px solid @gray-light;
            padding: 4px 8px;
        }
    }
    .app-item-comments {
        text-align: right;
        display: inline-block;
        margin: 0;
        color: @icon-color;
        font-size: 13px;
        padding: 4px 8px;
        span {
            display: inline-block;
            margin: 0 5px;
        }
    }
    .pagination {
        margin: 5px 0;
    }

    .main-panel {
        height: calc(~"100vh - 177px");
        margin: 0 10px;
    }
    &.decision {
        .scroll-wrapper-header {
            min-height: 40px;
            height: auto;
            margin: 0;
            width: auto;
        }
         .scroll-wrapper {
            top: 70px; //TODO: use variable
        }
    }
}

.matrix .matrix-table-col.matrix-table-group {
    border-right: 0;
    border-left: 0;
}

.matrix-table-content {
    position: relative;
    .matrix-table-col {
        &:hover {
            background-color: @gray-light;
        }
        &.matrix-table-group {
            border-right: 0;
            border-left: 0;
        }
    }
    .matrix-table-item {
        &:first-child {
            margin-top: 0;
        }
    }
}

.matrix-table-item {
    display: block;
    position: relative;
    z-index: 1;
    &.selcted {
        border-color: @basic-active;
    }
    & > .matrix-table-row {
        border: 1px solid transparent;
        border-bottom: 1px solid @gray-light;
        margin: 0 0 -1px 0;
        &:hover {
            border-color: @basic-active;
            z-index: 2;
        }
    }
}


.matrix-table-row {
    display: table;
    width: 100%;
    height: 100%;

    .matrix-table-col {
        border-right: 1px solid @gray-light;
        // &:last-child {
        //     border-right: 0;
        // }
    }
    .matrix-table-group {
        &:last-child {
            .matrix-table-col {
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
    .glyphicon {
        display: inline-block;
        margin: 0 3px;
        color: @icon-color;
    }
}

// Colors
.matrix-table-col-content {
    font-size: 13px;
    &.color-1 {
        background-color: @coefficientLower;
    }
    &.color-2 {
        background-color: @coefficientLow;
    }
    &.color-3 {
        background-color: @coefficientNormal;
    }
    &.color-4 {
        background-color: @coefficientHigh;
    }
    &.color-5 {
        background-color: @coefficientImportant;
    }
    &.color-6 {
        background-color: @coefficientSignificant;
    }
    &.color-7 {
        background-color: @coefficientCritical;
    }
}

.matrix-table-col-content {
    padding: 4px 8px;
     width: 120px; // TODO: avoid
}

// Width for cols
.matrix-content-name {
    width: 200px;
    min-width: 200px;
}

.matrix-table-col {
    display: table-cell;
    min-width: 105px;
    height: 100%;
    border-left: 1px solid transparent;
    border-right: 1px solid @gray-light;
    background: #FFF;
    &.matrix-col-selected {
        // background-color: @gray-light;
        border-left-color: @basic-active;
        border-right-color: @basic-active;
    }
}


.matrix-table-header {
    font-weight: 500;
    color: @title-color;
    border: 1px solid transparent;
    border-bottom: 0;

    .matrix-table-row {
        height: calc(~"100% - 36px"); // TODO: not use it!!!

        .matrix-table-col {
            padding: 0;
            vertical-align: middle;
            & > .matrix-table-group-title {
                padding: 4px 4px;
                min-height: 36px; // TODO: not use it!!!
            }
            & > .matrix-table-title {
                padding: 4px 4px;
            }
            .app-sorter-wrapper {
                padding-right: 20px;
            }
        }
    }
}

.matrix-table-group-title {
    font-size: 18px;
    border-bottom: 1px solid @gray-light;
}

.matrix-table-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    font-weight: 600;
    font-size: 14px;
    width: 120px; // TODO: avoid
    max-width: 120px;
}

// Sorter
.app-sorter-wrapper {
    position: relative;
    padding-right: 10px;
    font-size: 11px;
}

.app-sorter {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    height: 20px;
    margin: -10px 5px;
    color: @gray-mid;
    width: 10px;

    .app-sorter-bottom {
        position: absolute;
        bottom: 0;
        height: 50%;
        left: 0;
        font-size: 9px;
        cursor: pointer;
        top: auto;
        &.selected {
            color: @default-text;
        }
    }
    .app-sorter-top {
        position: absolute;
        top: 0;
        height: 50%;
        left: 0;
        font-size: 9px;
        cursor: pointer;
        &.selected {
            color: @default-text;
        }
    }
}


// Scrollable table
@matrix-aside-width: 202px;
.matrix-table-aside {
    float: left;
    width: @matrix-aside-width;
    // box-shadow: 0px 0 11px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-right: 1px solid @gray-light;
}

.matrix-table-content {
}

.matrix-table-panel {
    height: 100%;
}

.matrix-table-header {
    overflow-x: hidden;
    position: relative;
    z-index: 3;
    background-color: #fff;
    border-bottom: 1px solid @gray-light;
    box-shadow: 0 0 11px rgba(0,0,0,0.2);
}

.matrix-table-body-wrapper {
    // overflow-x: auto;
}

.matrix-table-body {
    float: left;
    width: 100%;
    // overflow: scroll;
    // overflow: hidden;
    height: calc(~"100vh - 250px");
    width: calc(~"100% - @{matrix-aside-width}");
    position: relative;
    z-index: 1;
    // margin-left: @matrix-aside-width;
    .matrix-table-aside {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: @matrix-aside-width;
        margin-left: 0;
    }
    .matrix-table-content {
        // left: @matrix-aside-width;
        top: 0;
    }
}

.matrix-table-body-scroll {
    overflow: scroll;
    width: 100%;
    height: 100%;
}


.matrix-table-header {
    & > .matrix-table-row {
        position: relative;
        padding-left: @matrix-aside-width;
    }
    .matrix-table-group-name {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: @matrix-aside-width;
    }
    .scroll-group {
        position: relative;
        z-index: 1;
    }
}