<div class="login-btn pull-right">
	<div ng-if="vm.loginService.getLoginStatus()">
		<label>Username:</label>
		<span>{{vm.user.user_name}}</span>
	</div>
	<ul class="nav navbar-nav">
		<li>
			<a ng-if="!vm.loginService.getLoginStatus()" ng-click="vm.loginService.login()">Login</a>
		</li>
		<li>
			<form ng-if="vm.loginService.getLoginStatus()" name="logoutForm" action="{{vm.loginService.getLogoutUrl()}}" method="POST" novalidate>
				<a href class="link" ng-click="vm.logout()">Logout</a>
			</form>
		</li>
	</ul>
</div>