<div class="login-btn">
	<div ng-if="vm.loginService.getLoginStatus()">
		<label>Username:</label>
		<span>{{vm.user.user_name}}</span>
	</div>
	<a ng-if="!vm.loginService.getLoginStatus()" href="" class="btn btn-default" ng-click="vm.loginService.login()">Login</a>
	<form ng-if="vm.loginService.getLoginStatus()" name="logoutForm" action="{{vm.loginService.getLogoutUrl()}}" method="POST" ng-submit="vm.loginService.logout()" novalidate>
		<button class="btn btn-default" type="submit">Logout</button>
	</form>
</div>