<div class="login-btn clearfix">

		<!-- Logged user -->
    <div ng-if="vm.loginService.getLoginStatus()">
        <div class="pull-right app-user-info" uib-dropdown>
            <a class="usermame dropdown-menu-btn" uib-dropdown-toggle>
                <span>Username:</span>
                <span>{{vm.user.user_name}}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li>
                    <form name="logoutForm" action="{{vm.loginService.getLogoutUrl()}}" method="POST" novalidate>
                        <a href class="link" ng-click="vm.logout()">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!-- New user -->
    <ul class="nav navbar-nav pull-right" ng-if="!vm.loginService.getLoginStatus()">
        <li>
            <a ng-click="vm.loginService.login()">Login</a>
        </li>
    </ul>
</div>
