<div class="home">
    <div class="row ">
        <div class="col-md-offset-3 col-md-6">
            <div class="search-box">
                <div class="input-group search-bar">
                    <input class="form-control" type="text" ng-model="vm.searchText" placeholder="Search..." />
                    <span class="input-group-btn">
                            <a href class="btn btn-default btn-primary" ng-click="vm.search()">
                            <span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                <div class="search-results text-left" ng-show="vm.showTrigger">
                    <h3>RESULTS for {{vm.searchText}}</h3>
                    <ul class="list-group search-results-list">
                        <li class="list-group-item"><a href ui-sref="decisions.single.list({id: vm.searchText || 2301})">DECISION</a> | <a href ui-sref="decisions.single.matrix({id: vm.searchText || 2301})">DECISION Matrix</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
