<div class="home">
    <div class="row search-box">
        <div class="col-md-offset-3 col-md-6">
            <div class="input-group">
                <input class="form-control" type="text" ng-model="vm.searchText" />
                <span class="input-group-btn">
        					<a href class="btn btn-default" ng-click="vm.search()">
        					<span class="glyphicon glyphicon-search"></span> Search</a>
                </span>
            </div>
            <div class="search-results text-left" ng-show="vm.showTrigger">
                <h3>RESULTS for {{vm.searchText}}</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a href ui-sref="decisions.view({id: vm.searchText || 9227})">DECISION</a> | <a href ui-sref="decisions.matrix({id: vm.searchText || 9227})">DECISION Matrix</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
