<breadcrumbs items="breadcrumbs"></breadcrumbs>
<div class="row app-top-panel">
    <div class="col-sm-6">
        <h4 class="app-header-sub-title pull-left">
            {{vm.decisionChild.name}} discussions:
        </h4>
    </div>
    <div class="col-sm-6">
        <div class="pull-right">
            <div class="btn-group btn-group-sm btns-view">
                <a ui-sref="decisions.single.list({id: vm.decision.decisionId})" ui-sref-active="btn-primary" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> List</a>
                <a ui-sref="decisions.single.matrix({id: vm.decision.decisionId})" ui-sref-active="btn-primary" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Matrix</a>
            </div>
            <a href class="btn btn-primary btn-sm">Ask for Decision</a>
        </div>
    </div>
</div>
<div class="app-container-sm">
    <div class="row">
        <div class="col-sm-12">
            <!--             <strong>{{vm.discussion.childDecision.name}} discussions:</strong> -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="app-list-panel" ng-if="vm.criteriaGroups">
                        <h4>Criteria</h4>
                        <div class="app-list-group" ng-repeat="group in vm.criteriaGroups track by $index">
                            <h5>{{group.name}}</h5>
                            <ul class="discussions-list">
                                <li ng-repeat="criteria in group.criteria | orderBy:'criterionId'" ng-class="{'selected':vm.discussion.childCriterion.criterionId === criteria.criterionId}">
                                    <a ui-sref="decisions.single.discussions.child.option({critOrCharId:criteria.criterionId})">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                {{criteria.name}}
                                            </div>
                                            <div class="pull-right app-rating-inline">
                                                <rating-star class="text-left" value="criteria.weight" total-votes="criteria.totalVotes" ng-show="criteria.weight"></rating-star>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="app-list-panel" ng-if="vm.characteristicGroups">
                        <h4>Characteristics</h4>
                        <div class="app-list-group" ng-repeat="group in vm.characteristicGroups track by $index">
                            <h5>{{group.name}}</h5>
                            <ul class="discussions-list">
                                <li ng-repeat="characteristic in group.characteristics | orderBy:'characteristicId'" ng-class="{'selected':vm.discussion.childCharacteristic.characteristicId === characteristic.characteristicId}">
                                    <a ui-sref="decisions.single.discussions.child.option({critOrCharId:characteristic.characteristicId})">
                                        {{characteristic.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
