<breadcrumbs items="breadcrumbs"></breadcrumbs>
<div class="app-container-sm">
    <h3 class="app-title">
        {{vm.title}}
    </h3>
    <div class="row">
        <div class="col-sm-8">
            <rating-star class="text-left" value="vm.discussion.votes.weight" total-votes="vm.discussion.votes.totalVotes" ng-show="vm.discussion.votes.weight"></rating-star>
            <div class="comment-form">
                <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                <button class="btn btn-primary">Send</button>
            </div>
            <!-- Comments list -->
            <div class="comments-list">
                <div class="media">
                    <div id="#12" class="comment">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptate, nihil culpa accusamus. Ab adipisci, sint magni asperiores deserunt et dicta, facilis, aut rem itaque laborum placeat atque? Dolorem, impedit!
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf>add a comment</a>
                        </div>
                    </div>
                    <div class="comment lvl-2">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit ametfacilis, aut rem itaque laborum placeat atque? Dolorem, impedit!
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf>add a comment</a>
                        </div>
                    </div>
                    <div class="comment lvl-3">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptate,
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf>add a comment</a>
                        </div>
                    </div>
                    <div class="comment lvl-3">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptate, nihil culpa accusamus. Ab adipisci, sint magni asperiores deserunt et dicta, facilis, aut rem itaque laborum placeat atque? Dolorem, impedit!
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf>add a comment</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Comments list -->
        </div>
        <div class="col-sm-4">
            <strong>You also may be interested in:</strong>
            <div class="app-list-panel" ng-if="vm.criteriaGroups">
                <h4>Criteria</h4>
                <ul class="app-list" ng-repeat="group in vm.criteriaGroups track by $index">
                    <li ng-repeat="criteria in group.criteria | orderBy:'criterionId'">
                        <a href ng-click="vm.goToDiscussion(vm.discussion.childDecision.decisionId, criteria.criterionId)">
                        {{vm.discussion.childDecision.name}} {{criteria.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app-list-panel" ng-if="vm.characteristicGroups">
                <h4>Characteristics</h4>
                <ul class="app-list" ng-repeat="group in vm.characteristicGroups track by $index">
                    <li ng-repeat="characteristic in group.characteristics | orderBy:'characteristicId'">
                        <a href ng-click="vm.goToDiscussion(vm.discussion.childDecision.decisionId, characteristic.characteristicId)">
                        {{vm.discussion.childDecision.name}} {{characteristic.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
