<breadcrumbs items="breadcrumbs"></breadcrumbs>

<div class="row app-top-panel">
    <div class="col-sm-6">
        <h4 class="app-header-sub-title">
            {{vm.title}}
        </h4>
    </div>
    <div class="col-sm-6">
        <div class="pull-right">
            <div class="btn-group btn-group-sm btns-view">
                <a ui-sref="decisions.single.list({id: vm.discussion.decision.decisionId})" ui-sref-active="btn-primary" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> List</a>
                <a ui-sref="decisions.single.matrix({id: vm.discussion.decision.decisionId})" ui-sref-active="btn-primary" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Matrix</a>
            </div>
            <a href class="btn btn-primary btn-sm">Ask for Decision</a>
        </div>
    </div>
</div>

<div class="app-container-sm app-content">
    <div class="row">
        <div class="col-sm-8">
            <rating-star class="text-left" value="vm.discussion.votes.weight" total-votes="vm.discussion.votes.totalVotes" ng-show="vm.discussion.votes.weight"></rating-star>
            <div class="comment-form">
                <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                <button class="btn btn-primary pull-right">Send</button>
            </div>
            <!-- Comments list -->
            <div class="comments-list">
                <div class="media">
                    <div id="#12" class="comment">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptate, nihil culpa accusamus. Ab adipisci, sint magni asperiores deserunt et dicta, facilis, aut rem itaque laborum placeat atque? Dolorem, impedit!
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">add a comment</a>

                            <div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>
                                <div class="comment-form">
                                    <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                                    <button class="btn btn-primary pull-right">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment lvl-2">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit ametfacilis, aut rem itaque laborum placeat atque? Dolorem, impedit!
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf>add a comment</a>
                        </div>
                    </div>
                    <div class="comment lvl-3">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptate,
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf>add a comment</a>
                        </div>
                    </div>
                    <div class="comment lvl-3">
                        <div class="clearfix">
                            <div class="comment-aside">
                                <div class="comment-votes">
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-up icon"></i>
                                    </a>
                                    <div> 12 </div>
                                    <a href="#" class="btn-sm btn btn-default">
                                        <i class="glyphicon glyphicon-arrow-down icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                                    <span class="label label-info">#12314</span> Author: Xame
                                    <div class="comment-time text-muted time">1 minute ago</div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptate, nihil culpa accusamus. Ab adipisci, sint magni asperiores deserunt et dicta, facilis, aut rem itaque laborum placeat atque? Dolorem, impedit!
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer">
                            <a herf>add a comment</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Comments list -->
        </div>
        <div class="col-sm-4">
            <strong>You also may be interested in {{vm.discussion.childDecision.name}} discussions:</strong>
            <div class="app-list-panel" ng-if="vm.criteriaGroups">
                <h4>Criteria</h4>
                <div class="app-list-group" ng-repeat="group in vm.criteriaGroups track by $index">
                    <h5>{{group.name}}</h5>
                    <ul class="app-list">
                        <li ng-repeat="criteria in group.criteria | orderBy:'criterionId'" ng-class="{'selected':vm.discussion.childCriterion.criterionId === criteria.criterionId}">
                            <a href ng-click="vm.goToDiscussion(vm.discussion.childDecision.decisionId, criteria.criterionId)">
                             {{criteria.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="app-list-panel" ng-if="vm.characteristicGroups">
                <h4>Characteristics</h4>
                <div class="app-list-group" ng-repeat="group in vm.characteristicGroups track by $index">
                    <h5>{{group.name}}</h5>
                    <ul class="app-list">
                        <li ng-repeat="characteristic in group.characteristics | orderBy:'characteristicId'" ng-class="{'selected':vm.discussion.childCharacteristic.characteristicId === characteristic.characteristicId}">
                            <a href ng-click="vm.goToDiscussion(vm.discussion.childDecision.decisionId, characteristic.characteristicId)">
                            {{characteristic.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
