<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label ng-show="vm.showPercentage">Criteria compliance: {{item.criteriaCompliancePercentage}}</label>
            </div>
            <div class="col-md-6">
                <h4><a href="" ng-click="vm.goToDecision($event, item.decisionId)">{{item.name}}</a></h4>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2">IMG</div>
            <div class="col-md-10"></div>
        </div>
        <div class="row decision-detailed-chars">
            <div class="col-md-12">
                <div class="app-loader-small" ng-show="item.detailsSpinner">LOADING...</div>
                <div ng-if="item.characteristics">
                    <h4>Characteristics</h4>
                    <div class="row" ng-repeat="(key, value) in item.characteristics track by key">
                        <div class="col-md-12 chars-group-name">
                            <label>{{vm.getGroupNameById(key)}}</label>
                        </div>
                        <div class="row" ng-repeat="characteristic in value track by $index">
                            <div class="col-md-6">{{characteristic.name}}:</div>
                            <div class="col-md-6">
                                <span ng-show="characteristic.value">{{characteristic.value}}</span>
                                <span ng-show="!characteristic.value" class="not-set">Not set</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
