<div class="app-list-wrapper">
    <div class="app-list-container">
        <!-- TODO: change ng-mouseover or disable event when loading data; disable when scroll to avoid alot of calls -->
        <div id="decision-{{ item.decisionId }}" ng-repeat="item in vm.list track by item.decisionId" class="list-item-sort app-resize-h" ng-class="{'selected' : item.isSelected, 'item-loading' : data.detailsSpinner}" ng-mouseover="vm.getDetails(item, $event)">
            <!-- TODO: have bug when resize selected item unselect -->
            <div class="list-item-sort-content" ng-click="vm.selectDecision(item)">
                <strong>{{ item.decisionId }}</strong>
                <div class="pull-right text-right" ng-show="vm.showPercentage">
                    <h5>
                        Criteria compliance:
                        <rating-star class="text-left"value="item.criteriaCompliancePercentage" total-votes="item.totalVotes" ng-show="item.criteriaCompliancePercentage"></rating-star>
                    </h5>
                </div>
                <h4 class="list-item-sort-title"><a href="" ng-click="vm.goToDecision($event, item.decisionId)">{{item.name}}</a></h4>
                <!-- Details -->
                <div class="list-item-sort-detail-wrapper">
                    <div class="app-loader-small" ng-show="item.detailsSpinner"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
                    <ng-include src="vm.innerTemplate"></ng-include>
                </div>
                <!-- End Details -->
            </div>
        </div>
    </div>
</div>
