<div class="list-item-sort-details">
    <div class="decision-detailed-chars">
        <div ng-if="item.characteristics">
            <h4>Characteristics</h4>
            <div ng-repeat="(key, value) in item.characteristics track by key">
                <div class="chars-group-name">
                    <label>{{vm.getGroupNameById(key)}}</label>
                </div>
                <div class="app-row-content" ng-repeat="characteristic in value track by $index">
                        <div class="app-row-content-label">
                            {{characteristic.name}}:
                        </div>

                        <span ng-show="characteristic.value">{{characteristic.value}}</span>
                        <span ng-show="!characteristic.value" class="not-set">Not set</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>